@layer base, elements, utilities;

@layer base {
    :root {
        --font-family-header: "Epilogue", sans-serif;
        --fontsize-base: clamp(1.125rem, 1.4vw, 1.375rem);
        --fontsize-large: clamp(1.125rem, 1.5vw, 2rem);
        --fontsize-xlarge: clamp(1.75rem, 3.75vw, 3rem);
        --fontsize-intro: clamp(1.5rem, 5vw, 2.5rem);
        --font-weight-normal: 400;
        --font-weight-bold: 700;

        --container-padding: clamp(1rem, 5vw, 4rem);
        --container-max: 1280px;

        --light-bg-color: #e6e6e6;
        --dark-bg-color: #0a0a0d;
        --neutral-grey-light: #666;
        --neutral-grey-dark: #333;
        --accent-yellow: #ffc600;
        --accent-orange: #ff8000;

        --color-font: var(--dark-bg-color);

        --bg-color: var(--light-bg-color);

        --bg-color-switch-active-dark-mode: var(--light-bg-color);
        --bg-color-switch-active-light-mode: var(--dark-bg-color);

        --bg-knob-activate-dark-mode: var(--dark-bg-color);
        --bg-knob-activate-light-mode: var(--light-bg-color);

        --bg-symbol-inactive: var(--neutral-grey-light);

        --bg-moon-active: var(--accent-yellow);
        --bg-sun-active: var(--accent-orange);

        --spacing-x-small: .25rem;
        --spacing-small: .5rem;
        --spacing-medium: 1rem;
        --spacing-large: 1.5rem;
        --spacing-x-large: 2rem;
    }

    :root:has(#themeSwitch:checked) {
        --bg-color: var(--dark-bg-color);
        --color-font: var(--light-bg-color);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --bg-color: var(--dark-bg-color);
            --bg-color-switch: var(--light-bg-color);

            --bg-color-switch-active-dark-mode: var(--light-bg-color);
            --bg-color-switch-active-light-mode: var(--dark-bg-color);

            --bg-knob-activate-dark-mode: var(--dark-bg-color);
            --bg-knob-activate-light-mode: var(--light-bg-color);

            --color-font: var(--light-bg-color);
        }

        :root:has(#themeSwitch:checked) {
            /*--bg-color: var(--light-bg-color);*/
            --bg-color: var(--light-bg-color);
            --color-font: var(--dark-bg-color);
        }

    }

    @font-face {
        font-family: 'Epilogue';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url('../fonts/Epilogue-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Epilogue';
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: url('../fonts/Epilogue-Bold.woff2') format('woff2');
    }

    html, body {
        margin: 0;
        padding: 0
    }

    body {
        background-color: var(--bg-color);
        color: var(--color-font);
        font-size: var(--fontsize-base);
    }

    header, main {
        margin: 0 auto;
        padding: 0 var(--container-padding);
        max-width: var(--container-max);
    }

    header {
        padding-top: clamp(1.5rem, 6.25vw, 5rem);
        margin-bottom: clamp(1.5rem, 3.75vw, 3rem);
    }

    a {
        text-decoration: none;
    }

    h1, h2 {
        font-family: var(--font-family-header);
        margin: 0;
    }

    h1 {
        font-weight: var(--font-weight-bold);
        font-size: var(--fontsize-xlarge);
        margin-bottom: var(--spacing-x-small)
    }

    h2 {
        font-size: var(--fontsize-large);
        font-weight: var(--font-weight-normal);
    }
}

@layer elements {
    .theme-switch__input,
    .theme-switch__label {
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .theme-switch__input {
        opacity: 0;
    }

    .theme-switch__input:hover + .theme-switch__label, .theme-switch__input:focus + .theme-switch__label {

    }

    /*knob hover - light mode*/
    .theme-switch__input:hover + .theme-switch__label span::after {
        /*cursor: pointer;*/
    }

    /*knob hover - dark mode*/
    .theme-switch__input:checked:hover + .theme-switch__label span::after {
        /*cursor: pointer;*/
    }

    /*color switch*/
    .theme-switch__label {
        padding: 5px;
        margin: 40px auto;
        transition: background-color 500ms ease-in-out;
        width: 50px;
        height: 20px;
        border-radius: 50px;
        text-align: center;
        background-color: var(--bg-color-switch-active-light-mode);
    }

    .theme-switch__input:checked ~ .theme-switch__label {
        background-color: var(--bg-color-switch-active-dark-mode);
    }

    .theme-switch__label span {
        position: absolute;
        bottom: calc(100% + 10px);
        left: 0;
        width: 100%;
    }

    .theme-switch__label::before, .theme-switch__label::after {
        font-size: 1.5rem;
        position: absolute;
        transform: translate3d(0, -50%, 0);
        top: 50%;
    }

    .theme-switch__label::before {
        content: "\2600";
        right: 100%;
        margin-right: 7px;
        color: var(--bg-sun-active);
    }

    .theme-switch__label::after {
        content: "\263E";
        left: 100%;
        margin-left: 7px;
        color: var(--bg-symbol-inactive);
    }


    /*knob - light mode*/
    .theme-switch__label span::after {
        position: absolute;
        top: calc(100% + 14px);
        left: 4px;
        width: 20px;
        height: 20px;
        content: "";
        border-radius: 50%;
        background-color: var(--bg-color);
        transition: transform 500ms, background-color 500ms;
    }

    /*knob - dark mode*/
    .theme-switch__input:checked ~ .theme-switch__label span::after {
        transform: translateX(25px);
    }

    /*sun symbol - dark mode*/
    .theme-switch__input:checked ~ .theme-switch__label::before {
        color: var(--bg-symbol-inactive);
    }

    /*sun symbol - light mode*/
    .theme-switch__input:checked ~ .theme-switch__label::after {
        color: var(--bg-moon-active);
    }


    @media (prefers-color-scheme: dark) {
        /*color switch - dark mode active*/
        .theme-switch__label {
            background-color: var(--bg-color-switch-active-dark-mode);
        }

        /*color switch - light mode active*/
        .theme-switch__input:checked ~ .theme-switch__label {
            background-color: var(--bg-color-switch-active-light-mode);
        }

        /*knob - light mode*/
        .theme-switch__input:checked ~ .theme-switch__label span::after {
            transform: translateX(0px);
            /*background-color: var(--light-bg-color);*/
            background-color: var(--bg-knob-activate-light-mode);
        }

        /*knob - dark mode*/
        .theme-switch__input:not(:checked) ~ .theme-switch__label span::after {
            transform: translateX(25px);
            background-color: var(--bg-knob-activate-dark-mode);
        }

        /*sun symbol - dark mode*/
        .theme-switch__input:not(:checked) ~ .theme-switch__label::before {
            color: var(--bg-symbol-inactive);
        }

        /*sun symbol - light mode*/
        .theme-switch__input:checked ~ .theme-switch__label::before {
            color: var(--bg-sun-active);
        }

        /*moon symbol - light mode*/
        .theme-switch__input:checked ~ .theme-switch__label::after {
            color: var(--bg-symbol-inactive);
        }

        /*moon symbol - dark mode*/
        .theme-switch__input:not(:checked) ~ .theme-switch__label::after {
            color: var(--bg-moon-active);
        }
    }
}

@layer utilities {
    .container {
        margin: 0 auto;
        padding: 0 var(--container-padding);
        max-width: var(--container-max)
    }
}
